.row {
    justify-content: center;

    .col-login {
        background-color: black;
        color: white;
        display: block;
        text-align: center;
    }

    .col-signup {
        background-color: black;
    }
}


