.row {
    justify-content: center;

    .col-login {
        display: block;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .col-signup {
        display: block;
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
}


